%div
  this is test
  %p
    %span
      foo

%p oneline

/
  this
  area
  is
  comment

/ one line comment

/[if lt IE9]
  %script (src="html5.js")

-#
  this comment is
  shown only haml

-# the one liner

!!!
!!!5

-foo= "baz"
#{foo}
